@* @model IEnumerable<PracticaIntegradora.Models.Producto> *@
@model PaginatedList<PracticaIntegradora.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Crear un nuevo Producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imagen
@*                 @Html.DisplayNameFor(model => model.Imagen) *@
            </th>
            <th>
                Descripción
                @* @Html.DisplayNameFor(model => model.Descripcion) *@
            </th>
            <th>
                Texto
                @* @Html.DisplayNameFor(model => model.Texto) *@
            </th>
            <th>
                Precio
                @* @Html.DisplayNameFor(model => model.Precio) *@
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.PrecioCadena)
            </th> *@
            <th>
                Escaparate
                @* @Html.DisplayNameFor(model => model.Escaparate) *@
            </th>
            <th>
                Categoría
                @* @Html.DisplayNameFor(model => model.Categoria) *@
            </th>
            <th>
                Instalador
                @* @Html.DisplayNameFor(model => model.instalador) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{
                    var nombreIMG = "";
                    var altMessage = "imagen no encontrada";
                    if (item.Imagen != null)
                    {
                        nombreIMG = item.Imagen;
                        altMessage = "";
                    }
                }
                <img src="@nombreIMG" alt="@altMessage"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.PrecioCadena)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Escaparate)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Descripcion)
            </td>
            <td>
                @{
                    var nombreArchivo = System.IO.Path.GetFileName(item.instalador);
                }
                <span id="fileName">@nombreArchivo</span>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-outline-secondary @prevDisabled">
    Anterior
</a>
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-outline-secondary @nextDisabled">
    Siguiente
</a>