@model PaginatedList<PracticaIntegradora.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Crear un nuevo Producto</a>
</p>

<form asp-action="Index" method="get">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-md">
                <label class="control-label">Categoría:</label>
                <select name="idCategoria" asp-items="ViewBag.CategoriaId" class="form-control">
                    <option value="">Todas</option>
                </select>
            </div>
            <div class="col-md align-self-end">
                <input type="submit" value="Buscar" class="btn btn-default" /> |
                <a asp-action="Index" class="btn btn-default">Lista completa</a>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Imagen
            </th>
            <th>
                Descripción
            </th>
            <th>
                Texto
            </th>
            <th>
                Precio
            </th>
            <th>
                Escaparate
            </th>
            <th>
                Categoría
            </th>
            <th>
                Instalador
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @{
                        var nombreIMG = "";
                        var altMessage = "imagen no encontrada";
                        if (item.Imagen != null)
                        {
                            nombreIMG = item.Imagen;
                            Console.WriteLine("----------------");
                            Console.WriteLine(nombreIMG);
                            Console.WriteLine("----------------");
                            altMessage = "";
                    }
                }
                <img src="@nombreIMG" alt="@altMessage" style="width:50px; height:50px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Escaparate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Descripcion)
            </td>
            <td>
                @{
                    var nombreArchivo = System.IO.Path.GetFileName(item.instalador);
                }
                <span id="fileName">@nombreArchivo</span>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-outline-secondary @prevDisabled">
    Anterior
</a>
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-outline-secondary @nextDisabled">
    Siguiente
</a>