@* @model IEnumerable<PracticaIntegradora.Models.Cliente> *@
@model PaginatedList<PracticaIntegradora.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create">Crear un nuevo Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
                @* @Html.DisplayNameFor(model => model.Nombre) *@
            </th>
            <th>
                Email
                @* @Html.DisplayNameFor(model => model.Email) *@
            </th>
            <th>
                Telefono
                @* @Html.DisplayNameFor(model => model.Telefono) *@
            </th>
            <th>
                Dirección
                @* @Html.DisplayNameFor(model => model.Direccion) *@
            </th>
            <th>
                Población
                @* @Html.DisplayNameFor(model => model.Poblacion) *@
            </th>
            <th>
                Código Postal
                @* @Html.DisplayNameFor(model => model.CodigoPostal) *@
            </th>
            <th>
                NIF
                @* @Html.DisplayNameFor(model => model.Nif) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poblacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nif)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-outline-secondary @prevDisabled">
    Anterior
</a>
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-outline-secondary @nextDisabled">
    Siguiente
</a>